<br>
<br>

    <br>
          
  
    <br>
    
    <ul>
        <li><a class="active" href="#home">Fiche</a></li>
        <li><a href="#contact">Update</a></li>
        <router-outlet></router-outlet>
        <li><a href="#contact">FypPFE</a></li>
   </ul>
 <br>
   <h2 style="padding-left: 100px;">Create Fyp PFE</h2>
   <div class="container">
     <div>
        <form [formGroup]="pfeForm"> 
            <div class="row">
                <div class="col-25">
                <label for="fname">Title</label>
              </div>
              <div class="col-75">
                <input type="text" formControlName="title" name="title" placeholder="title ...">
              </div>
      <div *ngIf="title.touched && title.invalid">
      
        Start Date est obligatoire 
      </div>
            </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">description</label>
        </div>
        <div class="col-75">
           
            <textarea formControlName="description" placeholder="description ..."></textarea>
            <div *ngIf="description.touched && description.invalid">
      
                description  est obligatoire 
              </div>
        </div>
    
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">problematic</label>
        </div>
        <div class="col-75">
           
           <textarea formControlName="problematic" placeholder="problematic ..."></textarea>
        </div>
    
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">  subject :</label>
        </div>
       <!----<li  *ngFor="let x of fYPSubject" ng-class="IsFiltered(document.Filtered)">
          <span><input type="checkbox" name="docChecked" />{{x.title}}</span>
          
      </li>-->
      <select (change)="onChange_FYPSubjectIndex($event.target.value)" class="col-75" formControlName="subject">
       <option value="">Choose your subject</option>
        <option *ngFor="let x of ff; let index = index;" 
       [selected]="x == currFYPSubject" [ngValue]="x" >{{x.title}}</option>

         </select>
      <!--<select formControlName="subject"   >
        <option *ngFor="let x of ff; let index = index;"  [value]="index"
        [selected]="x == currFYPSubject">{{x.title}}</option>
      </select>
      <br>-->
      <!--<select (change)="onChange_FYPSubjectIndex($event.target.value)" class="custom-select mr-4"
    formControlName="subject">
    <option value="">Choose your template</option>
    <option *ngFor="let template of FYPSubject; let index = index;" [value]="index"
      [selected]="template == currFYPSubject">{{template.title}}</option>

           </select>-->
      </div>
      
       <div style="padding-left: 900px; padding-top: 50px;">
      <button (click)="getInfo()" class="button button1" > Create</button></div>
        </form>
</div>
<br>
<br>
      
      