<br>
<br>

    <br>
          
  
    <br>
    
    <ul>
        <li><a  [routerLink]="['/student/inter']">Intership Convention</a></li>
        <li><a   class="active" [routerLink]="['/fyp/create']">FypPFE</a></li>
        <router-outlet></router-outlet>
        <li><a  [routerLink]="['/student/reclamation']">Reclamation</a></li>
        <li><a [routerLink]="['/student/skills']">Subject</a></li>
</ul>
 <br>
   <h2 style="padding-left: 100px;">{{text}}</h2>
   <div class="container" *ngIf="viewCreate">
     <div   >
       <div  *ngIf="show">
        <form [formGroup]="pfeForm" > 
            <div class="row">
                <div class="col-25">
                <label for="fname">Title</label>
              </div>
              <div class="col-75">
                <input type="text" formControlName="title" name="title" placeholder="title ...">
              </div>
      <div *ngIf="title.touched && title.invalid">
      
        Start Date est obligatoire 
      </div>
            </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">description</label>
        </div>
        <div class="col-75">
           
            <textarea formControlName="description" placeholder="description ..."></textarea>
            <div *ngIf="description.touched && description.invalid">
      
                description  est obligatoire 
              </div>
        </div>
    
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">problematic</label>
        </div>
        <div class="col-75">
           
           <textarea formControlName="problematic" placeholder="problematic ..."></textarea>
        </div>
    
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">  subject :</label>
        </div>
       <!----<li  *ngFor="let x of fYPSubject" ng-class="IsFiltered(document.Filtered)">
          <span><input type="checkbox" name="docChecked" />{{x.title}}</span>
          
      </li>-->
      <select (change)="onChange_FYPSubjectIndex($event.target.value)" class="col-75" formControlName="subject">
       <option value="">Choose your subject</option>
        <option *ngFor="let x of fYPSubject; let index = index;" 
       [selected]="x == currFYPSubject" [ngValue]="x" >{{x.title}}</option>

         </select>
      <!--<select formControlName="subject"   >
        <option *ngFor="let x of ff; let index = index;"  [value]="index"
        [selected]="x == currFYPSubject">{{x.title}}</option>
      </select>
      <br>-->
      <!--<select (change)="onChange_FYPSubjectIndex($event.target.value)" class="custom-select mr-4"
    formControlName="subject">
    <option value="">Choose your template</option>
    <option *ngFor="let template of FYPSubject; let index = index;" [value]="index"
      [selected]="template == currFYPSubject">{{template.title}}</option>

           </select>-->
      </div>
      
       <div style="padding-left: 900px; padding-top: 50px;">
      <button (click)="getInfo()" class="button button1" > Create</button></div>
        </form>
</div>
</div>

<!---
<div *ngIf="showPFE" >
  <div >
<h1>  </h1>

   <p> </p>  
   <h2></h2> 
  
   
  </div>
  <table>
      <tr>
        <th>Title</th>
        <th>description</th>
        <th>problematic</th>   
        <th>finalMark</th>
        <th>subject</th>
        <th>Status</th>
        <th>Actions</th>
       
      </tr>
      <tr *ngFor="let element of ffView;">
        <td>{{element.title}}</td>
        <td>{{element.description}}</td>
        <td>{{element.problematic}}</td>
        <td>{{element.finalMark}}</td>
        <td>{{element.subject.title}}</td>
        <td [style.color]="element.fileStatus==='pending' ? 'red' : 'green' " >{{element.fileStatus}}</td>
        <td><a [routerLink]="['/fyp/update',element.id]" (click)="Update()" >Update</a></td>
        <td> <button type="button" (click)="DirecteurFyp()" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-large">status</button>
        </td>
      </tr>
      
    </table>

</div>

<div class="modal fade" id="modal-large" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          
          <div class="col-md-12 v-icon-box-grid" data-columns="2" data-colour="dark">
                  <div class="spb_icon_box col-sm-12">
                      <a class="box-link" href="#" target="_self"></a>
                      <div class="v-icon-box-content-wrap clearfix">
                          <div class="v-icon-box-inner-wrap clearfix">
                              <div class="grid-icon-wrap clearfix">
                                  <a>
                                      <div class="v-svg-icon-holder v-svg-icon-animate">
                                          <img src="assets/img/svg/book.svg">
                                      </div>
                                  </a>
                              </div>
                              <div class="divider-line"></div>
                              <h6>
                                 
                              </h6>
                              <h6 *ngIf="!statusData.reporter">
                                      Dosen't have a reporter yet.
                                   </h6>
                          </div>
                      </div>
                  </div>
                  <div class="spb_icon_box col-sm-12">
                      <div class="v-icon-box-content-wrap clearfix">
                          <div class="v-icon-box-inner-wrap clearfix">
                              <div class="grid-icon-wrap clearfix">
                                  <div class="v-svg-icon-holder v-svg-icon-animate">
                                          <img src="assets/img/svg/file.svg">
                                  </div>
                              </div>
                              <div class="divider-line"></div>
                              <h6 ></h6>
                              <h6 >Dosen't have a pre validator yet. </h6>

                          </div>
                      </div>
                  </div>
                  <div class="spb_icon_box col-sm-12">
                      <div class="v-icon-box-content-wrap clearfix">
                          <div class="v-icon-box-inner-wrap clearfix">
                              <div class="grid-icon-wrap clearfix">
                                  <div class="v-svg-icon-holder v-svg-icon-animate">
                                      <img src="assets/img/svg/customer-service.svg">
                                  </div>
                              </div>
                              <div class="divider-line"></div>
                              <h6 > </h6>
                              <h6  >Dosen't have a supervisor yet. </h6>

                          </div>
                      </div>
                  </div>
                  <div class="spb_icon_box col-sm-12">
                      <div class="v-icon-box-content-wrap clearfix">
                          <div class="v-icon-box-inner-wrap clearfix">
                              <div class="grid-icon-wrap clearfix">
                                  <div class="v-svg-icon-holder v-svg-icon-animate">
                                          <img src="assets/img/svg/document.svg">
                                  </div>
                              </div>
                              <div class="divider-line"></div>
                              <h6 > </h6>
                              <h6 >Dosen't have a jury president yet. </h6>
                          </div>
                      </div>
                  </div>
                  <div class="spb_icon_box col-sm-12">
                          <div class="v-icon-box-content-wrap clearfix">
                              <div class="v-icon-box-inner-wrap clearfix">
                                  subject 
                                  <div class="divider-line"></div>
                                  <h6 ></h6>
                              </div>
                          </div>
                      </div>
                      <div class="spb_icon_box col-sm-12">
                              <div class="v-icon-box-content-wrap clearfix">
                                  <div class="v-icon-box-inner-wrap clearfix">
                                      Student
                                      <div class="divider-line"></div>
                                      <h6 > </h6>
                                  </div>
                              </div>
                          </div>
              </div>
</div>
</div>



</div>
</div>
<br>
<br>
-->
      <!---- data-toggle-->
   </div>
   

<div class="wrapper section" *ngIf="showPFE">
       
        <br/>
        <main class="main-content">
    <header class="section-header">
        
                <div class="media align-items-center mb-4">
                        <div class="w-60px mr-4 text-center">
                            <i class="icon-document-1 fs-35"></i>
                        </div>
                        <div class="media-body">
                            <a class="mt-0 mb-2 text-dark anim-link-2 clearfix">FYP Files</a>
                            <span><a class="text-dark small anim-link-2">FYP Files status and treatment</a> </span>
                        </div>
                    </div>
        
    </header>
    <div class="row uikit-example">
        <div class="col-lg-10 mx-auto">
                <div class="accordion" id="accordionExample">
                        <div class="card mb-3">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Your Fyp Intership
                                    </button>
                                </h2>
                            </div>       
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                        <div class="uikit-example">
                                                <table datatable   class="row-border hover">
                                                    <thead>
                                                        <tr>
                                                         
                                                          <th>Title</th>
                                                          <th>description</th>
                                                          <th>problematic</th>
                                                          <th> Status</th>
                                                          <th>Update</th>
                                                          <th></th>
                                                          <th></th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        <tr  *ngFor="let element of ffView;let i = index">
                                                          <td>{{element.title}}</td>
                                                          <td>{{element.description}}</td>
                                                          <td>{{element.problematic}}</td>
                                                          
                                                          <td>
                                                           
                                                              <span class="badge badge-pill badge-light">{{element.fileStatus}}</span>
                                                              
                                                            </td>
                                                          <td>  <button type="button" (click)="affectTeacher(file)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-assign">assign</button></td>
                                                          <td>
                                                                <button type="button" (click)="DirecteurFyp()" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-large">status</button>
                                                          </td>
                                                          <td>
                                                              <button type="button" (click)="DirecteurFyp()" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-large">View</button>
                                                        </td>
                                                        <td> <button type="button" (click)="DirecteurFyp()" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-large">Update</button>
                                                        </td>
                                                        </tr>
                                                      </tbody>
                                                  </table>
                                         </div>
                                </div>
                            </div>
                        </div>       
                </div>
               

    <!-- Modal assign - Large -->
    
    
    <div class="modal fade" id="modal-assign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-long" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--<div class="alert alert-danger">
                        Please notice that this modal has <code>.modal-long</code> class name added to <code>.modal-dialog</code>.
                    </div>-->
                    <section id="Inputs" class="px-6 py-6 bg-gray mb-9">
                            <div class="container">
                                <header class="mb-6">
                                    <h2>Assign a teacher </h2>
                                    <hr>
                                    <p class="lead-1">Assign a teacher </p>
                                </header>
    
                                <div class="row gap-y">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Role</label>        
                                            <select class="form-control form-control-sm">
                                                <option selected></option>
                                                <option>Supervision</option>
                                                <option>Pre validation</option>
                                                <option >Reporting</option>
                                            </select>
                                        </div>
                                        <div  class="alert alert-danger">
                                                This FYP sheet already has a teacher with that role
                                        </div>
                                        <div >
                                                <div class="form-group">
                                                        <label>Teacher</label>
                                                        <select   class="form-control form-control-sm">
                                                            <option ></option>
                                                            <option ></option>                                                         
                                                        </select>
                                            </div>
                                        <div class="form-group">
                                            <label>N° of actions allowed</label>
                                            <input class="form-control form-control-lg" type="text"  disabled placeholder="The remaining actions...">
                                        </div>
                                        </div>
                                        
                                </div> 
                            </div> 
                        </div>                         
                        </section>
                    </div>
                <div class="modal-footer">
                    <button type="button" (click)="cancelTeacherAssign()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" (click)="confirmTeacherAssign()" class="btn btn-primary transition-hover">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Modal fix - Large -->
    
    
    <div class="modal fade" id="modal-large" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!--content-->
                        <div class="col-md-12 v-icon-box-grid" data-columns="2" data-colour="dark">
                                <div class="spb_icon_box col-sm-12">
                                    <a class="box-link" href="#" target="_self"></a>
                                    <div class="v-icon-box-content-wrap clearfix">
                                        <div class="v-icon-box-inner-wrap clearfix">
                                            <div class="grid-icon-wrap clearfix">
                                                <a>
                                                    <div class="v-svg-icon-holder v-svg-icon-animate">
                                                        <img src="assets/img/svg/classroom.svg">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="divider-line"></div>
                                           
                                            <div  *ngFor="let emp of employes">
                                                <div *ngIf="emp!=null">
                                            <h6 > Your Reporter is: {{emp[1]}}</h6> 
                                          
                                           <h6>
                                              {{emp[1]}} his role is a {{emp[2]}}
                                              there is his mail{{emp[3]}}
                                                 </h6>
                                              </div>
                                              <div *ngIf="emp==null">
                                                  <h6>
                                                     you do't have a reporter
                                                         </h6>
                                              </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spb_icon_box col-sm-12">
                                    <div class="v-icon-box-content-wrap clearfix">
                                        <div class="v-icon-box-inner-wrap clearfix">
                                            <div class="grid-icon-wrap clearfix">
                                                <div class="v-svg-icon-holder v-svg-icon-animate">
                                                        <img src="assets/img/svg/file.svg">
                                                </div>
                                            </div>
                                            <div class="divider-line"></div>
                                            <h6 >Pre validated state   </h6>
                                            <div *ngFor="let element of ffView;let i = index">
                                              <div *ngIf="element.isPrevalidated == false">
                                            <h6 >your file is not Prevalidated   </h6></div>
                                            <div *ngIf="element.isPrevalidated == true">
                                                <h6 >your file is is Prevalidated </h6>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spb_icon_box col-sm-12">
                                    <div class="v-icon-box-content-wrap clearfix">
                                        <div class="v-icon-box-inner-wrap clearfix">
                                            <div class="grid-icon-wrap clearfix">
                                                <div class="v-svg-icon-holder v-svg-icon-animate">
                                                    <img src="assets/img/svg/webpage.svg">
                                                </div>
                                            </div>
                                            <div class="divider-line"></div>
                                            <h6  >Fyp State  </h6>
                                            <div *ngFor="let element of ffView;let i = index">
                                            <h6  >Your File is {{element.fileStatus}}. </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spb_icon_box col-sm-12">
                                    <div class="v-icon-box-content-wrap clearfix">
                                        <div class="v-icon-box-inner-wrap clearfix">
                                            <div class="grid-icon-wrap clearfix">
                                                <div class="v-svg-icon-holder v-svg-icon-animate">
                                                        <img src="assets/img/svg/books.svg">
                                                </div>
                                            </div>
                                            <div class="divider-line"></div>
                                            <h6 >Subject of the Intership </h6>
                                            <div *ngFor="let element of ffView;let i = index">
                                            <h6 >your subject is {{element.subject.title}} </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spb_icon_box col-sm-12">
                                        <div class="v-icon-box-content-wrap clearfix">
                                            <div class="v-icon-box-inner-wrap clearfix">
                                                <div class="grid-icon-wrap clearfix">
                                                    <div class="v-svg-icon-holder v-svg-icon-animate">
                                                            <img src="assets/img/svg/test.svg">
                                                    </div>
                                                </div>
                                                
                                                <div class="divider-line"></div>
                                                <h6 >Final Mark</h6>
                                                <div *ngFor="let element of ffView;let i = index">
                                                  <div *ngIf="element.finalMark ==0">
                                                    <h6 >your Fyp is not marked  </h6>
                                                    </div>
                                                    <div *ngIf="element.finalMark >0">
                                                        <h6 >your Final Mark is {{element.finalMark}}  </h6>
                                                        </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="spb_icon_box col-sm-12">
                                            <div class="v-icon-box-content-wrap clearfix">
                                                <div class="v-icon-box-inner-wrap clearfix">
                                                    <div class="grid-icon-wrap clearfix">
                                                        <div class="v-svg-icon-holder v-svg-icon-animate">
                                                              <img src="assets/img/svg/visibility.svg">
                                                        </div>
                                                    </div>
                                                  
                                                    <div class="divider-line"></div>
                                                    <h6 ><a href="">View More About Your Fyp</a></h6>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <!--end content-->
                    </div>
                </div>
            </div>
        </div>
        </div>
    
    
    