

        <table class="table">
            <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                       
                    </tr>
            </thead>
            <tbody *ngFor="let x of tab , let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{x.name}}</td>
                    <td>{{x.description}}</td>
                </tr>
            </tbody>
        </table>
