
<!-- FOOTER -->
<footer class="border-top border-bottom">
  <div class="container m-gab-2">
      <div class="row">
          <div class="col-sm-5 mb-5 mb-lg-0">
              <img alt="Vertex" src="assets/img/logo.png" class="mb-4" width="150">
              <p class="fs-20">
                  <span class="m-link">Master</span> is the innovation platform <br>
                  for business. And cats.
              </p>
              <span class="fs-12">Follow us on</span>
              <a href="#" class="primary-color fs-12">Facebook</a>,
              <a href="#" class="primary-color fs-12">LinkIn</a>,
              <a href="#" class="primary-color fs-12">Twitter</a>,
              <a href="#" class="primary-color fs-12">Instagram</a>
          </div>
          <div class="col-sm-3 mb-5 mb-lg-0">
              <h3 class="h6">
                  <strong>Solutions</strong>
              </h3>
              <ul class="list-unstyled mb-0">
                  <li><a class="m-list--link" href="#">Master Management</a></li>
                  <li><a class="m-list--link" href="#">Continues Implamanted</a></li>
                  <li><a class="m-list--link" href="#">Employee Engagement</a> </li>
                  <li><a class="m-list--link" href="#">Change Management</a> </li>
                  <li><a class="m-list--link" href="#">View more...</a> </li>
              </ul>
          </div>
          <div class="col-sm-2 mb-5 mb-lg-0">
              <h3 class="h6">
                  <strong>Product</strong>
              </h3>
              <ul class="list-unstyled mb-0">
                  <li><a class="m-list--link" href="#">Why Master</a></li>
                  <li><a class="m-list--link" href="#">Sign up Free</a></li>
                  <li><a class="m-list--link" href="#">Get a Demo</a> </li>
                  <li><a class="m-list--link" href="#">Features</a> </li>
                  <li><a class="m-list--link" href="#">Pricing</a> </li>
              </ul>
          </div>
          <div class="col-sm-2">
              <h3 class="h6">
                  <strong>Customers</strong>
              </h3>
              <ul class="list-unstyled mb-0">
                  <li><a class="m-list--link" href="#">Getting Started Guide</a></li>
                  <li><a class="m-list--link" href="#">Customer Success</a></li>
                  <li><a class="m-list--link" href="#">Wall of Love</a> </li>
                  <li><a class="m-list--link" href="#">Help Center</a> </li>
                  <li><a class="m-list--link" href="#">Partners</a> </li>
              </ul>
          </div>
      </div>
  </div>

  <hr class="mt-0 mb-1">

  <!-- Copyright -->
  <div class="container m-gab-1">
      <div class="row">
          <div class="col-md-5">
              <ul class="list-inline mb-0 text-center text-lg-left">
                  <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-chat-1 fs-17 text-primary mr-1"></i> Chat </a></li>
                  <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-camera-landscape fs-17 text-primary mr-1"></i> English </a></li>
                  <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-headphone fs-17 text-primary mr-1"></i> +45 3212 5680 </a></li>
              </ul>
          </div>
          <div class="col-md-2 center">
              <img src="assets/img/logo.png" class="center my-2 my-lg-0" width="80">
          </div>
          <div class="col-md-5">
              <ul class="list-inline mb-0 text-center text-lg-right">
                  <li class="list-inline-item"><a class="m-list--link" href="#">© Master 2019</a></li>
                  <li class="list-inline-item"><a class="m-list--link" href="#">Blog</a></li>
                  <li class="list-inline-item"><a class="m-list--link" href="#">Privacy</a></li>
                  <li class="list-inline-item"><a class="m-list--link" href="#">Terms</a></li>
                  <li class="list-inline-item"><a class="m-list--link" href="#">Securty</a></li>
              </ul>
          </div>
      </div>
  </div>
  <!-- End Copyright -->
</footer>
<!-- END FOOTER -->