<!-- Load page -->
  <div class="animationload">
    <div class="loader">
    </div>
</div>
<!-- End load page -->

<!-- Content Wrapper -->
<div id="wrapper">
    <div class="container">

        <!-- Info -->
        <div class="info">
            <h1>Opps! <br />You have some <br />problems</h1>
            <p>The page you are looking for was moved, removed, renamed or <br />might never existed.</p>
            <a routerLink="/" class="btn">Go Home</a>
        </div>
        <!-- end Info -->

        <!-- Giraffe -->
        <div class="giraffe">
            <div class="eye"></div>
        </div>
        <!-- end Giraffe -->

    </div>
    <!-- end container -->
</div>
<!-- end Content Wrapper -->