<main class="main-content">
        <section id="theme-banner-four" class="gradient-half-primary-body-v1 z-index-1 pt-6 pb-6">
            <img src="assets/img/shape/shape-8.svg" alt="" class="shape-one">
            <img src="assets/img/shape/shape-9.svg" alt="" class="shape-two"> 
            <img src="assets/img/shape/shape-11.svg" alt="" class="shape-four">
            <div class="round-shape-one"></div>
            <div class="round-shape-two"></div>
            <div class="round-shape-three"></div>

            <div class="container m-gab-3 z-index-1">
                <div class="row text-center align-items-center justify-content-center mt-9">
                    <div class="col-md-12">
                        <h2 class="text-white fw-100 h1">
                            Your new <span class="fw-600">Internship</span> Companion
                        </h2>
                        <p class="text-white mt-3 mb-4 o-5">
                            Internspace provides you with an infinite set of tools <br /> that can help you achieve a good internship.
                        </p>
                        <a href="#getStarted" class="btn btn-outline-light pr-5 pl-5">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
            <div class="custom-section-3 z-index--1">
                <img src="assets/img/sectionbg.png" alt="vertex">
            </div>
        </section>
    </main>