<br><br>

<section data-overlay="5" class="m-gab-3" data-parallax="../assets/img/hero/h13.jpg">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-8 text-white">
                <div class="clearfix">
                    
                    <div class="div">
                            <h2 class="mb-0"><mark data-aos="highlight-text" data-aos-delay="250" class="aos-init fw-600 aos-animate">Departments</mark>  list</h2>
                            <p class="lead mb-4">Our goal is to power innovation, wherever that may be.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;../assets/img/hero/h13.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 861px; height: 669.712px; overflow: hidden; pointer-events: none; margin-top: 31.1438px; transform: translate3d(0px, 2.15625px, 0px);"></div></div></section>

<!-- -->


<div class="container">

    <div class="row gap-y">
        <div class="col-md-4" *ngFor="let x of ListDep">
            <div class="uikit-example" >
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">{{x.name}}</h5>
                        <h6>site :<p>{{x.site.name}}</p></h6>
                        <a class="fs-13 fw-600" [routerLink]="['/internshipDirector/DepartmentProfile',x.id]">Edit allowed action number<i class="fa fa-angle-right pl-1"></i></a>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>


