<div>
  <br><br>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Carte identité</th>
        <th>submited report</th>
        <th>Final year project file</th>
        <th>authorized to pass a Project</th>
        <th>account disabled</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of students">
        <td>{{x.id}}</td>
        <td>{{x.firstName}}</td>
        <td>{{x.lastName}}</td>
        <td>{{x.cin}}</td>
        <td>{{x.hasSubmittedAReport}}</td>
        <td>{{x.isCreated}}</td>
        <td>{{x.isAutorised}}</td>
        <td>{{x.isDisabled}}</td>
      </tr>
    </tbody>
    </table>
    </div>