<div class="cbp-item identity" style="width: 330px; left: 100px; top: 0px;">
    <div class="cbp-item-wrapper">
        <div class="p-3">
            <div class="card shadow-1 hover-shadow-6 transition-hover">
                <div class="card-body bg-white p-5">
                    <div class="fs-14 mb-3">Article <time class="text-light mb-3">Edited at {{historyElement.editionDate | date}}</time></div>
                    <h2 class="h5 mb-2">
                        <a href="#" class="fs-18 anim-link-2 anim-link-2-primary" tabindex="0">{{historyElement.oldTitle}}</a>
                    </h2>
                    <p>{{historyElement.oldDescription}}</p>
                </div>
                <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                    <div class="media align-items-center">
                        <div class="media-body fs-14">
                            <div class="text-light">
                                Owner
                            </div>
                            <div *ngIf="historyElement.fileOwner">
                                <a class="anim-link-2 anim-link-2-primary" tabindex="0">{{historyElement.fileOwner.firstName}} {{historyElement.fileOwner.lastName}}</a>
                            </div>
                        </div>
                        <div class="media-body fs-14">
                            <div class="text-light">
                                Author
                            </div>
                            <div *ngIf="historyElement.editionAuthor">
                                <a class="anim-link-2 anim-link-2-primary" tabindex="0">{{historyElement.editionAuthor.firstName}} {{historyElement.editionAuthor.lastName}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="custom-tags mt-4 mb-3">
                        <a href="#" rel="tag" class="label label--sm label--secondary">Design</a>
                        <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                    </div>
                </div>
            </div>
        </div>
    </div></div>