
    <html class="side-header">
        <body>
            <div class="body">
                <!-- app header for admin -->
                <app-admin-header></app-admin-header>
                <main id="content">
                    <section class="pt-12 section--dark-bottom-fade overflow-hidden" style="background-color: #141d2b">
                        <div class="container">
                         
                        </div>
                        <div class="oval-divider--bottom oval-divider--10"></div>
                    </section>
        
                    <section class="section">
                        <div class="container">
                            <div class="row align-items-center justify-content-center text-center">
                                <div class="col-md-12">
                                   
    <ngx-paypal [config]="payPalConfig"></ngx-paypal> 
        
                                </div>
                            </div>
                        </div>
                    </section>
        
     
        
      
        
                    <section class="section">
                        <div class="container">
                            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                                <span class="label label--sm label--secondary mb-2">features</span>
                                <h2>Next-level <span class="font-weight-semi-bold">features</span></h2>
                                <p>Our goal is to power innovation, wherever that may be.</p>
                            </div>
        
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-center p-3">
                                        <img src="assets/img/mix/animate_images.png" class="mb-3" />
                                        <h3 class="h5">Animate: Images</h3>
                                        <p class="mb-4">Choose from 12 different animations to apply to your images</p>
                                        <a class="btn btn-sleek-dark btn-sm transition-hover" href="#"> See More </a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center p-3">
                                        <img src="assets/img/mix/animate_icons.png" class="mb-3" />
                                        <h3 class="h5">Animate: Icon Boxes</h3>
                                        <p class="mb-4">Choose from 12 different animations to apply to your icon boxes.</p>
                                        <a class="btn btn-sleek-dark btn-sm transition-hover" href="#"> See More </a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center p-3">
                                        <img src="assets/img/mix/animate_charts.png" class="mb-3" />
                                        <h3 class="h5">Chart & Progress Bars</h3>
                                        <p class="mb-4">Vertex lets you put an end to boring statistics views!</p>
                                        <a class="btn btn-sleek-dark btn-sm transition-hover" href="#"> See More </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
                    <section class="custom-section-1 m-gab-3-top m-gab-3-bottom">
                        <div class="container">
                            <div class="row justify-content-md-center text-center">
                                <div class="col-sm-12 col-md-6">
                                    <span class="label label--sm label--secondary mb-2">Subscribe</span>
                                    <h2 class="mb-0">Need a successful project?</h2>
                                    <p class="lead mb-5">Subscribe our newsletter asn stay updated.</p>
        
                                    <form class="input-round" novalidate="novalidate">
                                        <div class="form-group input-group bg-white shadow-4">
                                            <input type="text" class="form-control height-inherit pl-4" placeholder="Enter your email">
                                            <div class="input-group-append p-2">
                                                <button class="btn btn-warning" type="button">Join Vertex</button>
                                            </div>
                                        </div>
                                    </form>
        
                                    <p class="small">Interested in more ? <a class="m-link-muted" href="#">Keep Reading</a> </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
        
                <!-- FOOTER -->
                <footer class="border-bottom">
                    <div class="container m-gab-2">
                        <div class="row">
                            <div class="col-sm-5 mb-5 mb-lg-0">
                                <img alt="Vertex" src="assets/img/logo.png" class="mb-4" width="150">
                                <p class="fs-20">
                                    <span class="m-link">Master</span> is the innovation platform <br>
                                    for business. And cats.
                                </p>
                                <span class="fs-12">Follow us on</span>
                                <a href="#" class="primary-color fs-12">Facebook</a>,
                                <a href="#" class="primary-color fs-12">LinkIn</a>,
                                <a href="#" class="primary-color fs-12">Twitter</a>,
                                <a href="#" class="primary-color fs-12">Instagram</a>
                            </div>
                            <div class="col-sm-3 mb-5 mb-lg-0">
                                <h3 class="h6">
                                    <strong>Solutions</strong>
                                </h3>
                                <ul class="list-unstyled mb-0">
                                    <li><a class="m-list--link" href="#">Master Management</a></li>
                                    <li><a class="m-list--link" href="#">Continues Implamanted</a></li>
                                    <li><a class="m-list--link" href="#">Employee Engagement</a> </li>
                                    <li><a class="m-list--link" href="#">Change Management</a> </li>
                                    <li><a class="m-list--link" href="#">View more...</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-2 mb-5 mb-lg-0">
                                <h3 class="h6">
                                    <strong>Product</strong>
                                </h3>
                                <ul class="list-unstyled mb-0">
                                    <li><a class="m-list--link" href="#">Why Master</a></li>
                                    <li><a class="m-list--link" href="#">Sign up Free</a></li>
                                    <li><a class="m-list--link" href="#">Get a Demo</a> </li>
                                    <li><a class="m-list--link" href="#">Features</a> </li>
                                    <li><a class="m-list--link" href="#">Pricing</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <h3 class="h6">
                                    <strong>Customers</strong>
                                </h3>
                                <ul class="list-unstyled mb-0">
                                    <li><a class="m-list--link" href="#">Getting Started Guide</a></li>
                                    <li><a class="m-list--link" href="#">Customer Success</a></li>
                                    <li><a class="m-list--link" href="#">Wall of Love</a> </li>
                                    <li><a class="m-list--link" href="#">Help Center</a> </li>
                                    <li><a class="m-list--link" href="#">Partners</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
        
                    <hr class="mt-0 mb-1">
        
                    <!-- Copyright -->
                    <div class="container m-gab-1">
                        <div class="row">
                            <div class="col-md-5">
                                <ul class="list-inline mb-0 text-center text-lg-left">
                                    <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-chat-1 fs-17 text-primary mr-1"></i> Chat </a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-camera-landscape fs-17 text-primary mr-1"></i> English </a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-headphone fs-17 text-primary mr-1"></i> +45 3212 5680 </a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 center">
                                <img src="assets/img/logo.png" class="center my-2 my-lg-0" width="80">
                            </div>
                            <div class="col-md-5">
                                <ul class="list-inline mb-0 text-center text-lg-right">
                                    <li class="list-inline-item"><a class="m-list--link" href="#">© Master 2019</a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#">Blog</a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#">Privacy</a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#">Terms</a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#">Securty</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Copyright -->
                </footer>
                <!-- END FOOTER -->
            </div>
        
        </body>
        
        <!-- Mirrored from master.bootstraptemplates.net/index-2-left-header.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Nov 2019 21:30:45 GMT -->
        </html>