
    <html class="side-header">
        <body>
            <div class="body">
                <!-- app header for admin -->
                <app-admin-header></app-admin-header>
                <main id="content">
                    <section class="pt-12 section--dark-bottom-fade overflow-hidden" style="background-color: #141d2b">
                        <div class="container">
                            <div class="row align-items-center justify-content-center text-center">
                                <div class="col-md-12">
                                   
    <ngx-paypal [config]="payPalConfig"></ngx-paypal> 
        
                                </div>
                            </div>
                        </div>
                        <div class="oval-divider--bottom oval-divider--10"></div>
                    </section>
        
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 m-gab-3-top">
                                    <span class="label label--sm label--secondary mb-2">Trust</span>
                                    <h2 class="fs-40 mb-4">
                                        Over 20 Million users <br />
                                        trust our template
                                    </h2>
                                    <p class="fs-16">
                                        A small river named Duden flows by their place and supplies it <br />
                                        with the necessary regelialia. It is a para country, in which <br />
                                        roasted parts of sentences fly into your mouth.
                                    </p>
        
                                    <blockquote class="blockquote testimonial-quote ml-8 mt-4">
                                        <p class="mb-0 text-dark fw-500 fs-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /> Integer posuere erat a ante.</p>
                                    </blockquote>
        
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-4">
                                            <img class="img-fluid rounded-circle" src="assets/img/avatar/avatar2.jpg" alt="Image Description">
                                        </div>
                                        <div class="mr-3">
                                            <h4 class="fs-16 mb-0">Peter Parker</h4>
                                            <small class="text-muted">Developer at Google</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/mobile-left.jpg" />
                                </div>
                            </div>
                        </div>
                    </section>
        
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/img/mobile-right.jpg" />
                                </div>
                                <div class="col-md-6 m-gab-3-top">
                                    <span class="label label--sm label--secondary mb-2">Love</span>
                                    <h2 class="fs-40 mb-4">
                                        Made with love and  <br />
                                        dedication
                                    </h2>
                                    <p class="fs-16">
                                        A small river named Duden flows by their place and supplies it <br />
                                        with the necessary regelialia. It is a para country, in which <br />
                                        roasted parts of sentences fly into your mouth.
                                    </p>
        
                                    <blockquote class="blockquote testimonial-quote ml-8 mt-4">
                                        <p class="mb-0 text-dark fw-500 fs-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /> Integer posuere erat a ante.</p>
                                    </blockquote>
        
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-4">
                                            <img class="img-fluid rounded-circle" src="assets/img/avatar/avatar3.jpg" alt="Image Description">
                                        </div>
                                        <div class="mr-3">
                                            <h4 class="fs-16 mb-0">Robert Burton</h4>
                                            <small class="text-muted">Developer at Twitter</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
                    <section class="section">
                        <div class="container">
                            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                                <span class="label label--sm label--secondary mb-2">features</span>
                                <h2 class="fs-40"> Why you need to use <br /> this template ? </h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="clearfix bg-white border transition-hover p-7 py-5 text-center hover-shadow-4 mb-5">
                                        <i class="clearfix icon-diamond fs-50 text-primary"></i>
                                        <h3 class="h5 mb-3 mt-2">Stunning Design</h3>
                                        <p>
                                            Navigation available in bootstrap share markup and styles.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="clearfix bg-light bg-white border transition-hover p-7 py-5 text-center hover-shadow-4 mb-5">
                                        <i class="icon-chat-1-1 fs-50 text-primary"></i>
                                        <h3 class="h5 mb-3 mt-2">Super Faster<span class="badge badge-primary ml-2">Best</span> </h3>
                                        <p>
                                            Navigation in bootstrap share general markup and styles.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="clearfix bg-light bg-white border transition-hover p-7 py-5 text-center hover-shadow-4 mb-5">
                                        <i class="icon-firewall fs-50 text-primary"></i>
                                        <h3 class="h5 mb-3 mt-2">Completely Secure</h3>
                                        <p>
                                            Navigation available in general markup and styles.
                                        </p>
                                    </div>
                                </div>
        
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="clearfix bg-white bg-white border transition-hover p-7 py-5 text-center hover-shadow-4 mb-5">
                                        <i class="clearfix icon-database-search fs-50 text-primary"></i>
                                        <h3 class="h5 mb-3 mt-2">SEO Friendly<span class="badge badge-primary ml-2">Unique</span></h3>
                                        <p>
                                            Navigation available in bootstrap share markup and styles.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="clearfix bg-white border transition-hover p-7 py-5 text-center hover-shadow-4 mb-5">
                                        <i class="icon-cloud-download fs-50 text-primary"></i>
                                        <h3 class="h5 mb-3 mt-2">Regular Upload</h3>
                                        <p>
                                            Navigation in bootstrap share general markup and styles.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="clearfix bg-white border transition-hover p-7 py-5 text-center hover-shadow-4 mb-5">
                                        <i class="icon-scale-tool-3 fs-50 text-primary"></i>
                                        <h3 class="h5 mb-3 mt-2">Fully Responsive</h3>
                                        <p>
                                            Navigation available in general markup and styles.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
                    <section class="">
        
                        <div class="container">
                            <div class="row">
        
                                <div class="col-md-12">
                                    <div class="popular-articles">
        
                                        <header class="popular-header header-card white-underline-links">
                                            <h2 class="text-white header-card-title">
                                                Popular <br>this <br>month
                                            </h2>
                                            <p class="mb-0 text-white-50">
                                                Join our <a class="m-link-light" href="#">news</a>
                                            </p>
                                        </header>
        
                                        <div class="mini-card-grid">
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
                                                            <time class="text-light" datetime="2019-01-21">
                                                                Jan 21, 2019
                                                            </time>
                                                        </div>
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                The Great Divide
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" src="assets/img/avatar/avatar2.jpg" class="avatar" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Chris Coyier
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">front-end developer</a>
                                                    </div>
                                                </div>
                                            </article>
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
                                                            <time class="text-light" datetime="2019-01-09">
                                                                Jan 9, 2019
                                                            </time>
                                                        </div>
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                Instagram working on School Stories, targeting high schools
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" src="assets/img/avatar/avatar3.jpg" class="avatar" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Faraz Kelhini
                                                            </a>
                                                        </div>
                                                    </div>
        
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">es2018</a>
                                                    </div>
                                                </div>
                                            </article>
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
                                                            <time class="text-light" datetime="2019-01-04">
                                                                Jan 4, 2019
                                                            </time>
                                                        </div>
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                What does the future of HR look like?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" src="assets/img/avatar/avatar3.jpg" class="avatar" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Geoff Graham
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">favorites</a>
                                                    </div>
                                                </div>
                                            </article>
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
                                                            <time class="text-light" datetime="2019-01-08">
                                                                Jan 8, 2019
                                                            </time>
                                                        </div>
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                Css Techniques from the Vertex
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" src="assets/img/avatar/avatar2.jpg" class="avatar" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Buddy Reno
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">Sass</a>
                                                    </div>
                                                </div>
                                            </article>
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
                                                            <time class="text-light" datetime="2019-01-07">
                                                                Jan 7, 2019
                                                            </time>
                                                        </div>
        
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                What does the future of HR look like?
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" src="assets/img/avatar/avatar1.jpg" class="avatar" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Eric Bailey
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">accessibility</a>
                                                    </div>
                                                </div>
                                            </article>
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
                                                            <time class="text-light" datetime="2019-01-03">
                                                                Jan 3, 2019
                                                            </time>
                                                        </div>
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                Bitcoin dives under 4 thousand dollars
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" src="assets/img/avatar/avatar2.jpg" class="avatar" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Chris Coyier
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">box-decoration-break</a>
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">gradients</a>
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">mix-blend-mode</a>
                                                    </div>
                                                </div>
                                            </article>
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
                                                            <time class="text-light" datetime="2019-01-18">
                                                                Jan 18, 2019
                                                            </time>
                                                        </div>
        
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                Different approach for finding locations: What3Words
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" class="avatar avatar-default" src="assets/img/avatar/avatar2.jpg" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Shawn Wang
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">design tooling</a>
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">javascript framework</a>
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">trend</a>
                                                    </div>
                                                </div>
                                            </article>
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
                                                            <time class="text-light" datetime="2018-12-20">
                                                                Dec 20, 2018
                                                            </time>
                                                        </div>
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                Regarding CSS’s Global Scope
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" src="assets/img/avatar/avatar2.jpg" class="avatar" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Chris Coyier
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">css-in-js</a>
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">global scope</a>
                                                    </div>
                                                </div>
                                            </article>
        
                                            <article class="mini-card module module-article article">
                                                <header class="mini-article-card-header">
                                                    <div class="mini-article-card-title">
                                                        <div class="mini-article-subhead">
                                                            Article
        
                                                            <time class="text-light" datetime="2019-01-11">
                                                                Jan 11, 2019
                                                            </time>
                                                        </div>
                                                        <h2>
                                                            <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary">
                                                                Re: Pleasing Color Palettes
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </header>
        
                                                <div class="mini-article-meta">
                                                    <div class="mini-article-byline">
                                                        <div class="author-avatar">
                                                            <a class="author-name" href="#">
                                                                <img alt="" src="assets/img/avatar/avatar2.jpg" class="avatar" height="80" width="80">
                                                            </a>
                                                        </div>
                                                        <div class="author-name-area">
                                                            <div class="author-name-prefix text-light">
                                                                Author
                                                            </div>
                                                            <a class="author-name" href="#">
                                                                Chris Coyier
                                                            </a>
                                                        </div>
                                                    </div>
        
                                                    <div class="tags">
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">accessibility color</a>
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">color</a>
                                                        <a href="#" rel="tag" class="label label--sm label--secondary">generative color</a>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
                    <section class="section">
                        <div class="container">
                            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                                <span class="label label--sm label--secondary mb-2">features</span>
                                <h2>Next-level <span class="font-weight-semi-bold">features</span></h2>
                                <p>Our goal is to power innovation, wherever that may be.</p>
                            </div>
        
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-center p-3">
                                        <img src="assets/img/mix/animate_images.png" class="mb-3" />
                                        <h3 class="h5">Animate: Images</h3>
                                        <p class="mb-4">Choose from 12 different animations to apply to your images</p>
                                        <a class="btn btn-sleek-dark btn-sm transition-hover" href="#"> See More </a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center p-3">
                                        <img src="assets/img/mix/animate_icons.png" class="mb-3" />
                                        <h3 class="h5">Animate: Icon Boxes</h3>
                                        <p class="mb-4">Choose from 12 different animations to apply to your icon boxes.</p>
                                        <a class="btn btn-sleek-dark btn-sm transition-hover" href="#"> See More </a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="text-center p-3">
                                        <img src="assets/img/mix/animate_charts.png" class="mb-3" />
                                        <h3 class="h5">Chart & Progress Bars</h3>
                                        <p class="mb-4">Vertex lets you put an end to boring statistics views!</p>
                                        <a class="btn btn-sleek-dark btn-sm transition-hover" href="#"> See More </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        
                    <section class="custom-section-1 m-gab-3-top m-gab-3-bottom">
                        <div class="container">
                            <div class="row justify-content-md-center text-center">
                                <div class="col-sm-12 col-md-6">
                                    <span class="label label--sm label--secondary mb-2">Subscribe</span>
                                    <h2 class="mb-0">Need a successful project?</h2>
                                    <p class="lead mb-5">Subscribe our newsletter asn stay updated.</p>
        
                                    <form class="input-round" novalidate="novalidate">
                                        <div class="form-group input-group bg-white shadow-4">
                                            <input type="text" class="form-control height-inherit pl-4" placeholder="Enter your email">
                                            <div class="input-group-append p-2">
                                                <button class="btn btn-warning" type="button">Join Vertex</button>
                                            </div>
                                        </div>
                                    </form>
        
                                    <p class="small">Interested in more ? <a class="m-link-muted" href="#">Keep Reading</a> </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
        
                <!-- FOOTER -->
                <footer class="border-bottom">
                    <div class="container m-gab-2">
                        <div class="row">
                            <div class="col-sm-5 mb-5 mb-lg-0">
                                <img alt="Vertex" src="assets/img/logo.png" class="mb-4" width="150">
                                <p class="fs-20">
                                    <span class="m-link">Master</span> is the innovation platform <br>
                                    for business. And cats.
                                </p>
                                <span class="fs-12">Follow us on</span>
                                <a href="#" class="primary-color fs-12">Facebook</a>,
                                <a href="#" class="primary-color fs-12">LinkIn</a>,
                                <a href="#" class="primary-color fs-12">Twitter</a>,
                                <a href="#" class="primary-color fs-12">Instagram</a>
                            </div>
                            <div class="col-sm-3 mb-5 mb-lg-0">
                                <h3 class="h6">
                                    <strong>Solutions</strong>
                                </h3>
                                <ul class="list-unstyled mb-0">
                                    <li><a class="m-list--link" href="#">Master Management</a></li>
                                    <li><a class="m-list--link" href="#">Continues Implamanted</a></li>
                                    <li><a class="m-list--link" href="#">Employee Engagement</a> </li>
                                    <li><a class="m-list--link" href="#">Change Management</a> </li>
                                    <li><a class="m-list--link" href="#">View more...</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-2 mb-5 mb-lg-0">
                                <h3 class="h6">
                                    <strong>Product</strong>
                                </h3>
                                <ul class="list-unstyled mb-0">
                                    <li><a class="m-list--link" href="#">Why Master</a></li>
                                    <li><a class="m-list--link" href="#">Sign up Free</a></li>
                                    <li><a class="m-list--link" href="#">Get a Demo</a> </li>
                                    <li><a class="m-list--link" href="#">Features</a> </li>
                                    <li><a class="m-list--link" href="#">Pricing</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-2">
                                <h3 class="h6">
                                    <strong>Customers</strong>
                                </h3>
                                <ul class="list-unstyled mb-0">
                                    <li><a class="m-list--link" href="#">Getting Started Guide</a></li>
                                    <li><a class="m-list--link" href="#">Customer Success</a></li>
                                    <li><a class="m-list--link" href="#">Wall of Love</a> </li>
                                    <li><a class="m-list--link" href="#">Help Center</a> </li>
                                    <li><a class="m-list--link" href="#">Partners</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
        
                    <hr class="mt-0 mb-1">
        
                    <!-- Copyright -->
                    <div class="container m-gab-1">
                        <div class="row">
                            <div class="col-md-5">
                                <ul class="list-inline mb-0 text-center text-lg-left">
                                    <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-chat-1 fs-17 text-primary mr-1"></i> Chat </a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-camera-landscape fs-17 text-primary mr-1"></i> English </a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-headphone fs-17 text-primary mr-1"></i> +45 3212 5680 </a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 center">
                                <img src="assets/img/logo.png" class="center my-2 my-lg-0" width="80">
                            </div>
                            <div class="col-md-5">
                                <ul class="list-inline mb-0 text-center text-lg-right">
                                    <li class="list-inline-item"><a class="m-list--link" href="#">© Master 2019</a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#">Blog</a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#">Privacy</a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#">Terms</a></li>
                                    <li class="list-inline-item"><a class="m-list--link" href="#">Securty</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Copyright -->
                </footer>
                <!-- END FOOTER -->
            </div>
        
        </body>
        
        <!-- Mirrored from master.bootstraptemplates.net/index-2-left-header.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 19 Nov 2019 21:30:45 GMT -->
        </html>