<br>
<br>

    <br>
          
  
    <br>
    
    <ul>
        <li><a  [routerLink]="['/student/inter']">Intership Convention</a></li>
        <li><a   [routerLink]="['/fyp/create']">FypPFE</a></li>
        <router-outlet></router-outlet>
        <li><a class="active"[routerLink]="['/student/reclamation']">Reclamation</a></li>
        <li><a [routerLink]="['/student/skills']">Subject</a></li>
</ul>
 <br>
   <h2 style="padding-left: 100px;">Your Reclamation</h2>
   <div class="container">
     <div  >
        <form [formGroup]="pfeForm" > 
            <div class="row">
                <div class="col-25">
                <label for="fname">Reclamation</label>
              </div>
              <div class="col-75">
               
                <textarea formControlName="{{text}}" placeholder="votre Reclamation ..."></textarea>
              </div>
   
      
      
      <!--<select formControlName="subject"   >
        <option *ngFor="let x of ff; let index = index;"  [value]="index"
        [selected]="x == currFYPSubject">{{x.title}}</option>
      </select>
      <br>-->
      <!--<select (change)="onChange_FYPSubjectIndex($event.target.value)" class="custom-select mr-4"
    formControlName="subject">
    <option value="">Choose your template</option>
    <option *ngFor="let template of FYPSubject; let index = index;" [value]="index"
      [selected]="template == currFYPSubject">{{template.title}}</option>

           </select>-->
      </div>
      
       <div style="padding-left: 900px; padding-top: 50px;">
      <button (click)="getInfo()" class="button button1" > Send Reclamation</button></div>
        </form>
</div>
 
  
   