<div class="wrapper section">
    <br/>
    <main class="main-content">
<header class="section-header">
    
            <div class="media align-items-center mb-4">
                    <div class="w-60px mr-4 text-center">
                        <i class="icon-document-1 fs-35"></i>
                    </div>
                    <div class="media-body">
                        <a class="mt-0 mb-2 text-dark anim-link-2 clearfix">FYP Files</a>
                        <span><a class="text-dark small anim-link-2">FYP Files status tracking</a> </span>
                    </div>
                </div>
    
</header>
<div class="row uikit-example">
    <div class="col-lg-10 mx-auto">
            <div class="accordion" id="accordionExample">
                    <div class="card mb-3">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Recently accepted FYP sheets
                                </button>
                            </h2>
                        </div>       
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                    <div class="uikit-example">
                                            <table datatable [dtOptions]="acceptedSheetsOptions" [dtTrigger]="acceptedSheetsTrigger"  class="row-border hover">
                                                <thead>
                                                    <tr>
                                                      <th>#</th>
                                                      <th>title</th>
                                                      <th>description</th>
                                                      <th>student</th>                        
                                                      <th>mark</th>
                                                      <th></th>
                                                      <th></th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr *ngFor="let file of acceptedSheets;let i = index">
                                                      <td>{{ i+1 }}</td>
                                                      <td>{{file.title}}</td>
                                                      <td>{{minimize(file.description)}}</td>
                                                      <td>{{file.student?file.student.firstName : ""}} {{file.student?file.student.lastName:""}}</td>
                                                      <td>{{file.finalMark > 0 ? file.finalMark : "waiting"}}</td>
                                                      <td>
                                                          <button type="button" (click)="affectTeacher(file)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-assign">assign</button>
                                                      </td>
                                                      <td>
                                                            <button type="button" (click)="displayStatus(file)" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-large">details</button>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                              </table>
                                     </div>
                            </div>
                        </div>
                    </div>       
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card mb-3">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                FYP Sheets awaiting approval
                            </button>
                        </h2>
                    </div>       
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                                <div class="uikit-example">
                                        <table datatable [dtOptions]="pendingSheetsOptions" [dtTrigger]="pendingSheetsTrigger"  class="row-border hover">
                                            <thead>
                                                <tr>
                                                  <th>#</th>
                                                  <th>title</th>
                                                  <th>description</th>
                                                  <th>student</th>
                                                  <th>status</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr *ngFor="let file of pendingSheets;let i = index">
                                                  <td>{{ i+1 }}</td>
                                                  <td>{{file.title}}</td>
                                                  <td>{{file.description}}</td>
                                                  <td >{{file.student?file.student.firstName:""}} {{file.student?file.student.lastName:""}}</td>
                                                  <td><span class="badge badge-pill badge-danger">{{file.fileStatus}}</span></td>
                                                </tr>
                                              </tbody>
                                          </table>
                                 </div>
                        </div>
                    </div>
                </div>       
        </div>
<!-- Modal assign - Large -->
<div class="modal fade" id="modal-assign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-long" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--<div class="alert alert-danger">
                        Please notice that this modal has <code>.modal-long</code> class name added to <code>.modal-dialog</code>.
                    </div>-->
                    <section id="Inputs" class="px-6 py-6 bg-gray mb-9">
                            <div class="container">
                                <header class="mb-6">
                                    <h2>Assign a teacher </h2>
                                    <hr>
                                    <p class="lead-1">Assign a teacher </p>
                                </header>

                                <div class="row gap-y">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Role</label>        
                                            <select #select [(ngModel)]="teacherTargetedRole" (change)="roleVerification($event.target.value)" class="form-control form-control-sm">
                                                <option selected></option>
                                                <option value="supervisor">Supervision</option>
                                                <option value="preValidator">Pre validation</option>
                                                <option value="reporter">Reporting</option>
                                            </select>
                                        </div>
                                        <div *ngIf="!informations && select.value != ''" class="alert alert-danger">
                                                This FYP sheet already has a teacher with that role
                                        </div>
                                        <div *ngIf="informations">
                                                <div class="form-group">
                                                        <label>Teacher</label>
                                                        <select [(ngModel)]="teachertoBeAssigned"  class="form-control form-control-sm">
                                                            <option selected disabled></option>
                                                            <option *ngFor="let t of teachersList" [ngValue]="t">{{t.firstName}} {{t.lastName}}</option>                                                         
                                                        </select>
                                            </div>
                                        <div class="form-group">
                                            <label>N° of actions allowed</label>
                                            <input class="form-control form-control-lg" type="text" [ngModel]="loadNoOfActions()" disabled placeholder="The remaining actions...">
                                        </div>
                                        </div>
                                        
                                </div> 
                            </div> 
                        </div>                         
                        </section>
                    </div>
                <div class="modal-footer">
                    <button type="button" (click)="cancelTeacherAssign()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" (click)="confirmTeacherAssign()" class="btn btn-primary transition-hover">Save changes</button>
                </div>
            </div>
        </div>
</div>
<!-- Modal assign - Large  end -->





<!-- Modal show - Large -->
<div class="modal fade" id="modal-large" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!--content-->
                    <div class="col-md-12 v-icon-box-grid" data-columns="2" data-colour="dark">
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <a *ngIf="statusData.reporter && statusData.reporter.givenMark == 0" class="edit" data-toggle="modal" data-target="#modal-edit" (click)="editAssigning(statusData.reporter)">
                                                    <div class="v-svg-icon-holder v-svg-icon-animate">
                                                        <img src="assets/img/svg/book.svg">
                                                    </div>
                                            </a>
                                            <div *ngIf="!statusData.reporter || statusData.reporter.givenMark > 0" >
                                                    <div class="v-svg-icon-holder v-svg-icon-animate">
                                                    <img src="assets/img/svg/book.svg">
                                            </div>
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h6 *ngIf="statusData.reporter">
                                           Reporter is {{statusData.reporter.teacher.firstName}} {{statusData.reporter.teacher.lastName}} <br/> 
                                           given mark is {{statusData.givenMark > 0 ? statusData.givenMark / 20 : "awaiting"}}
                                        </h6>
                                        <h6 *ngIf="!statusData.reporter">
                                                Dosen't have a reporter yet.
                                             </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <a *ngIf="statusData.preValidator" class="edit" data-toggle="modal" data-target="#modal-edit" (click)="editAssigning(statusData.preValidator)">
                                            <div class="v-svg-icon-holder v-svg-icon-animate">
                                                    <img src="assets/img/svg/file.svg">
                                            </div>
                                            </a>

                                            <div *ngIf="!statusData.preValidator">
                                                    <div class="v-svg-icon-holder v-svg-icon-animate">
                                                            <img src="assets/img/svg/file.svg">
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h6 *ngIf="statusData.preValidator">Pre validated by {{statusData.preValidator.teacher.firstName}}  {{statusData.preValidator.teacher.lastName}}</h6>
                                        <h6 *ngIf="!statusData.preValidator">Dosen't have a pre validator yet. </h6>
          
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                        <a *ngIf="statusData.supervisor" class="edit" data-toggle="modal" data-target="#modal-edit" (click)="editAssigning(statusData.supervisor)">
                                            <div class="v-svg-icon-holder v-svg-icon-animate">
                                                <img src="assets/img/svg/customer-service.svg">
                                            </div>
                                        </a>
                                        <div *ngIf="!statusData.supervisor">
                                                <div class="v-svg-icon-holder v-svg-icon-animate">
                                                        <img src="assets/img/svg/customer-service.svg">
                                                    </div>
                                        </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h6  *ngIf="statusData.supervisor">Supervised by {{statusData.supervisor.teacher.firstName}} {{statusData.supervisor.teacher.lastName}}  </h6>
                                        <h6  *ngIf="!statusData.supervisor">Dosen't have a supervisor yet. </h6>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <a *ngIf="statusData.juryPresident" class="edit" data-toggle="modal" data-target="#modal-edit" (click)="editAssigning(statusData.juryPresident)">
                                            <div class="v-svg-icon-holder v-svg-icon-animate">
                                                    <img src="assets/img/svg/document.svg">
                                            </div>
                                            </a>
                                            <div *ngIf="!statusData.juryPresident">
                                                    <div class="v-svg-icon-holder v-svg-icon-animate">
                                                            <img src="assets/img/svg/document.svg">
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h6 *ngIf="statusData.juryPresident">President of the jury is {{statusData.juryPresident.teacher.firstName}} {{statusData.juryPresident.teacher.lastName}} </h6>
                                        <h6 *ngIf="!statusData.juryPresident">Dosen't have a jury president yet. </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                    <div class="v-icon-box-content-wrap clearfix">
                                        <div class="v-icon-box-inner-wrap clearfix">
                                            subject 
                                            <div class="divider-line"></div>
                                            <h6 *ngIf="statusFypFile">{{statusFypFile.title}}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="spb_icon_box col-sm-12">
                                        <div class="v-icon-box-content-wrap clearfix">
                                            <div class="v-icon-box-inner-wrap clearfix">
                                                Student
                                                <div class="divider-line"></div>
                                                <h6 *ngIf="student">{{student.firstName}} {{student.lastName}} </h6>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    <!--end content-->
                </div>
            </div>
        </div>
</div>
<!--modal show end -->

<!-- Modal edit - Large -->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-long" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <section id="Inputs" class="px-6 py-6 bg-gray mb-9">
                            <div class="container">
                                <header class="mb-6">
                                    <h2>Edit the teacher </h2>
                                    <hr>
                                    <p class="lead-1" *ngIf="interventionToBeEdit">Edit the teacher {{interventionToBeEdit.teacher.firstName}} {{interventionToBeEdit.teacher.lastName}}</p>
                                </header>

                                <div class="row gap-y">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>You will edit the {{newRole}} of this sheet.</label>        
                                        </div>                   
                                        <div >
                                            <div *ngIf="interventionToBeEdit" class="form-group">
                                                <label>Teacher</label>
                                                <select [compareWith]="compareFn"  name="edition" [(ngModel)]="interventionToBeEdit.teacher"  class="form-control form-control-sm"> 
                                                        <option  *ngFor="let t of teachersList" [ngValue]="t" >{{t.firstName}} {{t.lastName}}</option>                                                         
                                                </select>
                                            </div>
                                        </div>                                     
                                </div> 
                            </div> 
                        </div>                         
                        </section>
                    </div>
                <div class="modal-footer">
                    <button type="button" (click)="cancelTeacherAssign()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" (click)="editTeacherRole()" class="btn btn-primary transition-hover">Save changes</button>
                </div>
            </div>
        </div>
</div>
<!-- Modal edit - Large  end -->


