<app-students-internship-by-year-loc [uniId]='uniId'></app-students-internship-by-year-loc>
<br>
<br>

<app-most-accepting-companies [uniId]='uniId'></app-most-accepting-companies>
<br>
<br>

<app-most-requested-categories [uniId]='uniId'></app-most-requested-categories>
<br>
<br>

<app-abroad-evolution-per-year [uniId]='uniId'></app-abroad-evolution-per-year>
<br>
<br>

<app-students-abroad [uniId]='uniId'></app-students-abroad>
<br>
<br>

<app-students-site></app-students-site>
<br>
<br>

<app-country-students-map [uniId]='uniId'></app-country-students-map>
<br>
<br>

<app-internship-year-distribution [uniId]='uniId'></app-internship-year-distribution>
<br>
<br>
