<div class="table-wrapper-scroll-y card-body my-custom-scrollbar-big">
  <section class="section m-gab-2-top">

    <div class="container">

      <div class='row'>
        <!-- Search Bar -->
        <div class='col-md-4'>

          <div class="d-flex justify-content-center text-center mb-1">
            <form class=" input-round" style='width: 400px' novalidate="novalidate">
              <p class="lead mb-5">Look for an internship opportunity.</p>
              <div class="form-group input-group shadow-sm bg-white">
                <input type="text" class="form-control height-inherit pl-4" (keyup)="SetSubjectsSearchStr($event)"
                  placeholder="Type to search">
                <div class="input-group-append p-2">
                  <button class="btn btn-primary" type="button">Search</button>
                </div>
              </div>
              <p class="small">Interested in one? <a class="m-link-muted" href="#">Apply Now!</a> </p>
            </form>

          </div>
          <hr>
          <h4 class='align-self-center'>Recommended to you</h4>
          <hr>

          <div class="table-wrapper-scroll-y card-body my-custom-scrollbar">
            <a *ngFor='let subject of suggestedSubjects; let i = index;'
              class="card card-frame card-text-dark transition-hover">
              <div class="card-body">
                <span class="justify-content-sm-between align-items-sm-center">
                  <span class="fs-14 text-secondary">{{subject.title}}</span> <br>
                  {{GetShortenedContent(subject.content)}}
                  <span style='cursor:pointer' (click)='openSuggestedSubjectDetails(i)'
                    class="col-sm-2 text-primary text-sm-right">
                    →
                  </span>
                </span>
              </div>
            </a>
          </div>

        </div>

        <!-- Details -->
        <div class='col-md-8' *ngIf='!bShowInternshipDetails'>
          <div class="row justify-content-center">
            <div class="col-lg-11">

              <a *ngFor='let subject of mySubjectsToShow; let i = index;'
                class="card card-frame card-text-dark mb-3 transition-hover">
                <div class="card-body">
                  <span class="row justify-content-sm-between align-items-sm-center">
                    <span class="col-sm-7 mb-1 mb-sm-0">
                      <span class="fs-14 text-secondary">{{subject.title}}</span> <br>
                      {{GetShortenedContent(subject.content)}}
                    </span>
                    <span *ngIf='subject.company != null' class="col-sm-3 mb-2 mb-sm-0 fs-14 text-secondary">
                      {{subject.company.username}} <br>
                      {{subject.company.firstName}} {{subject.company.lastName}}
                    </span>
                    <span style='cursor:pointer' (click)='openSubjectDetails(i)'
                      class="col-sm-2 text-primary text-sm-right">
                      View →
                    </span>
                  </span>
                </div>
              </a>

            </div>
          </div>
        </div>

        <div *ngIf='bShowInternshipDetails' class="row col-md-8 mb-1">
          <div class="col-md-4">
            <a style='cursor:pointer' class="text-primary fw-500 small" (click)='bShowInternshipDetails = false'>
              <span (click)='bShowInternshipDetails = false' class="fas fa-arrow-left small text-primary mr-2"></span>
              Return
            </a>
            <br>
            <br>
            <div class="card mb-8 border-0">
              <div class="media mb-3 fw-400">
                <div class="min-width-4 text-center text-primary mt-1 mr-3">
                  <span class="fas fa-copy"></span>
                </div>
                <div class="media-body">
                  <span class="d-block font-weight-medium">Categories</span>

                  <div class="custom-tags">
                    <a *ngFor='let cat of selectedSubject.categories' href="#" rel="tag"
                      class="label label--sm label--primary">{{ cat.name }}</a>
                  </div>
                </div>
              </div>
              <div class="media mb-3">
                <div class="min-width-4 text-center text-primary mt-1 mr-3">
                  <span class="fas fa-map-marked-alt"></span>
                </div>
                <div class="media-body">
                  <span class="d-block font-weight-medium">Location</span>
                  <small class="d-block text-secondary">{{ selectedSubject.company.country }}</small>
                </div>
              </div>
              <div class="media mb-3">
                <div class="min-width-4 text-center text-primary mt-1 mr-3">
                  <span class="fas fa-coffee"></span>
                </div>
                <div class="media-body">
                  <span class="d-block font-weight-medium">Job type</span>
                  <small class="d-block text-secondary">Full Time</small>
                </div>
              </div>
              <div class="media mb-3">
                <div class="min-width-4 text-center text-primary mt-1 mr-3">
                  <span class="fas fa-money-bill-alt"></span>
                </div>
                <div class="media-body">
                  <span class="d-block font-weight-medium">Salary</span>
                  <small class="d-block text-secondary">$5.000 - $7.200</small>
                </div>
              </div>
              <div class="media mb-1">
                <div class="min-width-4 text-center text-primary mt-1 mr-3">
                  <span class="fas fa-business-time"></span>
                </div>
                <div class="media-body">
                  <span class="d-block font-weight-medium">Posted </span>
                  <small class="d-block text-secondary">5 days ego</small>
                </div>
              </div>
            </div>

            <div *ngIf="currentApplianceStatus != 'refused'">
              <a *ngIf="currentApplianceStatus != 'pending' && currentApplianceStatus != 'accepted'"
                class="btn btn-primary transition-hover btn-wide" style='cursor: pointer;' (click)='applySubject(selectedSubject.id)'>
                Apply
              </a>

              <a *ngIf="currentApplianceStatus == 'pending'" class="btn btn-warning transition-hover btn-wide"
                (click)='unapplySubject(selectedSubject.id)' style='cursor: pointer;'>
                Unapply
              </a>

              <a disabled *ngIf="currentApplianceStatus == 'accepted'"
                class="btn btn-success transition-hover btn-wide">
                You're accepted!
              </a>
            </div>
            <div *ngIf="currentApplianceStatus == 'refused'">
              You have been refused for this internship by {{selectedSubject.company.username}} under this message:
              <br>
              <p> {{refusalMessage}} </p>

            </div>

          </div>

          <div class="col-md-8">
            <h1 class="h2 fw-500">{{selectedSubject.title}} </h1>
            <p class="mb-5 border-bottom pb-4">
              <span class="mr-3 fw-400">
                <span class="fas fa-copy mr-1 small text-light"></span> {{selectedSubject.company.username}}
              </span>
              <span class="fw-400">
                <span class="fas fa-eye mr-1 small text-light"></span> Viewed 6.450 times
              </span>
            </p>
            <!-- Description -->
            <div class="accordion" id="accordionExample">
              <div class="card m-1">
                <div class="card-header" id="internship-description">
                  <h3 class="h4 mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                      data-target="#internship-description-collapse" aria-expanded="true"
                      aria-controls="internship-description-collapse">
                      Description
                    </button>
                  </h3>
                </div>
                <div id="internship-description-collapse" class="collapse show" aria-labelledby="internship-description"
                  data-parent="#accordionExample">
                  <!-- Text -->
                  <p class="card-body text-gray-800 mb-6 mb-md-8">
                    {{selectedSubject.content}}
                  </p>
                </div>
              </div>
            </div>

            <!-- Who Applied -->
            <div class="accordion" id="accordionExample">
              <div class="card m-1">
                <div class="card-header" id="internship-who-applied">
                  <h3 class="h4 mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                      data-target="#internship-who-applied-collapse" aria-expanded="true"
                      aria-controls="internship-who-applied-collapse">
                      Who Applied
                      <span style="font-size: 15px;" class="badge badge-primary">
                        {{ selectedSubject.studentSubjects.length}} </span>
                    </button>
                  </h3>
                </div>
                <div id="internship-who-applied-collapse" class="collapse show" aria-labelledby="internship-who-applied"
                  data-parent="#accordionExample">
                  <!-- Text -->
                  <ul class="check-list ml-3 mr-3">
                    <li *ngFor='let ap of selectedSubject.studentSubjects'>
                      {{ap.student.firstName }} {{ ap.student.lastName }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <!-- Application Requirements -->
            <div class="accordion" id="accordionExample">
              <div class="card m-1">
                <div class="card-header" id="internship-apr">
                  <h3 class="h4 mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                      data-target="#internship-apr-collapse" aria-expanded="true"
                      aria-controls="internship-apr-collapse">
                      Application Requirements
                    </button>
                  </h3>
                </div>
                <div id="internship-apr-collapse" class="collapse show" aria-labelledby="internship-apr"
                  data-parent="#accordionExample">
                  <!-- Text -->
                  <ul class="check-list ml-3 mr-3">
                    <li> Work through complex design problems to create beautiful and thoughtful interactions for our
                      marketing web platform </li>
                    <li> Demonstrate an expertise in typography, composition, layout, design thinking, and content
                      strategy in the design solutions you create </li>
                    <li>
                      Iterate quickly and communicate ideas across various levels of fidelity,
                      with the ability to receive feedback constructively as well as provide
                      feedback to other’s work
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </section>

</div>
