<br><br>
<div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9 text-center mb-8">
              
                <form class="input-round" novalidate="novalidate" >
                    <div class="form-group input-group shadow-sm bg-white">
                                    <input [(ngModel)]="searchInput" type="text"  class="form-control height-inherit pl-4" placeholder="Type to search" [ngModelOptions]="{standalone: true}">
                        <div class="input-group-append p-2">
                            <button (click)="ClickHandler()"class="btn btn-primary"  type="button">Search</button>
                        </div>
                    </div>
                </form>
            </div>

           
        </div>

        
    </div>
    <div *ngIf="results.length>0; else empty">
            <app-tabel [tab]="results"></app-tabel>
        </div>
    
        <ng-template #empty>
                <div class="container" *ngIf="clicked">
    
                        <!-- Info -->
                        <div class="info" >
                            <h1>Opps! <br>There is not files <br>with this year</h1>
                           
                        </div>
               
                    </div>
                
                <app-tabel [tab]="allFYPFiles"></app-tabel>
        </ng-template>