
             <main class="main-content">
            
            <section class="section" id="getStarted">
                <div class="container">
                    <div class="row uikit-example">
                        <div class="col-md-12 v-icon-box-grid" data-columns="3" data-colour="dark">
                            <div class="spb_icon_box col-sm-12">
                                <a class="box-link" href="#" target="_self"></a>
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <a href="#">
                                                <div class="v-svg-icon-holder v-svg-icon-animate">
                                                    <i class="icon-brush-2"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h5>
                                            Simple, Easy-To-Use<br>
                                            and Intuitive
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <div class="v-svg-icon-holder v-svg-icon-animate">
                                                <i class="icon-layers"></i>
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h5>Engineered for Accelerated Performance</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <div class="v-svg-icon-holder v-svg-icon-animate">
                                                <i class="icon-ruler-2"></i>
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h5>Extensive Options Providing Flexibility</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <div class="v-svg-icon-holder v-svg-icon-animate">
                                                <i class="icon-stationery-1"></i>
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h5>Fully Responsive and Device Agnostic</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <div class="v-svg-icon-holder v-svg-icon-animate">
                                                <i class="icon-award-3"></i>
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h5>
                                            Beautiful and<br>
                                            Intelligent Design
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="spb_icon_box col-sm-12">
                                <div class="v-icon-box-content-wrap clearfix">
                                    <div class="v-icon-box-inner-wrap clearfix">
                                        <div class="grid-icon-wrap clearfix">
                                            <div class="v-svg-icon-holder v-svg-icon-animate">
                                                <i class="icon-bubble-check-1"></i>
                                            </div>
                                        </div>
                                        <div class="divider-line"></div>
                                        <h5>Professional Support and Maintenance</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>