<div>
    <br><br>
        <div class="row justify-content-lg-center">
                
                    <div class="media pr-lg-5">
                        
                        <div class="media-body">
                            <h3 class="h5 mt-0 mb-2 text-primary">Students thats doesn't create thier Sheets</h3>
                            <p class="mb-4"> you can send them an email .. </p>
                            <a href="#" class="btn btn-primary btn-pill btn-sm transition-hover pr-3 pl-4" data-toggle="modal" data-target="#modal-default">Send email now <span class="fas fa-angle-right align-middle ml-2"></span></a>
                        </div>
                    </div>
                    <h2>OR</h2>
                    <div class="col-md-6 col-lg-5 mb-7">
                        <div class="media pl-lg-5">
                           
                            <div class="media-body">
                                <h3 class="h5 mt-0 mb-2 text-primary">you want to find someone</h3>
                                <p class="mb-4"> A table will apear for you and u can filter it as you like</p>
                                <a href="#" class="btn btn-primary btn-pill btn-sm transition-hover pr-3 pl-4" (click)="state= !state">Show me<span class="fas fa-angle-right align-middle ml-2"></span></a>
                            </div>
                        </div>
                    </div>
            </div>

  <br>
  <div [hidden]="state">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >

      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Carte identité</th>
          <th>submited report</th>
          <th>Final year project file</th>
          <th>authorized to pass a Project</th>
          <th>account disabled</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of students">
          <td>{{x.id}}</td>
          <td>{{x.firstName}}</td>
          <td>{{x.lastName}}</td>
          <td>{{x.cin}}</td>
          <td>{{x.hasSubmittedAReport}}</td>
          <td>{{x.isCreated}}</td>
          <td>{{x.isAutorised}}</td>
          <td>{{x.isDisabled}}</td>

        </tr>
      </tbody>
      </table>
      </div>
</div>
      <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="lead-1">
                       You will send to all of them an email for reminding them ! 
                        add your text here : 
                        <br>
                        <textarea [(ngModel)]="textInput"  class="form-control" rows="4" placeholder="Email content"></textarea>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary transition-hover" (click)="sendEmail()" data-dismiss="modal" >Yes , send to them</button>
                </div>
            </div>
        </div>
    </div>


    <div class="mini-card-grid" *ngFor="let x of students">

        <article class="mini-card module module-article article">
            <header class="mini-article-card-header">
                <div class="mini-article-card-title">
                    <div class="mini-article-subhead">
                      
                        <time class="text-light" datetime="2019-01-21">
                            Finale year project sheet state :
                        </time>
                    </div>
                    <h2>
                        <a href="#" class="article-card-header read-article anim-link-2 anim-link-2-primary" *ngIf="x.isCreated===false">
                            doesnt create a sheet
                        </a>
                    </h2>
                </div>
            </header>

            <div class="mini-article-meta">
                <div class="mini-article-byline">
                    <div class="author-avatar">
                        <a class="author-name" href="#">
                            <img alt="" src="../assets/img/avatar/avatar2.jpg" class="avatar" height="80" width="80">
                        </a>
                    </div>
                    <div class="author-name-area">
                        <div class="author-name-prefix text-light">
                            Author
                        </div>
                        <a class="author-name" href="#">
                            Chris Coyier
                        </a>
                    </div>
                </div>
                <div class="tags">
                    <a href="#" rel="tag" class="label label--sm label--secondary">{{x.userType}}</a>
                </div>
            </div>
        </article>

      
    </div>