<div class="tab">
    <table class="table">
        <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>FileStatus</th>
                    <th>FinalMark</th>
                    <th>Archived</th>
                    <th>Canceled</th>
                    <th>Confirmed</th>
                    <th>Prevalidated</th>*
                    <th [hidden]="hide"> Prevalidate</th>
                </tr>
        </thead>
        <tbody *ngFor="let x of tab , let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{x.title}}</td>
                <td>{{x.fileStatus}}</td>
                <td>{{x.finalMark}}</td>
                <td>{{x.isArchived}}</td>
                <td>{{x.isCanceled}}</td>
                <td>{{x.isConfirmed}}</td>
                <td>{{x.isPrevalidated}}</td>
                <td><button [hidden]='hide' (click)="Prevalidate(x.id)">prev</button></td>

            </tr>
        </tbody>
    </table>
</div>