<!-- Icon -->
<div [ngStyle]="{'z-index':orderz }" id="a" *ngIf="element.sectionName === 'universityIcon'"  cdkDragBoundary=".drag-boundary"  [ngClass]="{'drag-box' : true, 'title-elem': bExporting==false}" cdkDrag
  [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)" (cdkDragEnded)="onDragEnded($event)" >
  <h5> {{auth.currentUserValue.department.site.university.name}} </h5>

  <div class="mr-1 ml-1">
      <img *ngIf='auth.currentUserValue.department.site.university.logoUrl != null' class='img-fluid rounded-circle'
        src={{auth.currentUserValue.department.site.university.logoUrl}} width="70" alt="Icon">
      <img *ngIf='auth.currentUserValue.department.site.university.logoUrl == null' class='img-fluid rounded-circle'
        src="assets/images/default-user-male.png" width="70" alt="Icon">
    </div>

  

</div>

<!-- Title -->

<div [ngStyle]="{'z-index':orderz }" id="a" *ngIf="element.sectionName === 'title'" cdkDragBoundary=".drag-boundary" [ngClass]="{'drag-box' :true, 'title-elem': bExporting==false}" cdkDrag
  [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)" (cdkDragEnded)="onDragEnded($event)">
  <h5> Title </h5>
  <p type="text" class="form-control"> {{previewFypFile ? previewFypFile.title : 'Title'}} </p>
</div>

<!-- Description -->

<div [ngStyle]="{'z-index':orderz }" *ngIf="element.sectionName === 'description'" cdkDragBoundary=".drag-boundary"  [ngClass]="{'drag-box' :true, 'description-elem': bExporting==false}" class="drag-box description-elem" cdkDrag
  [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)">
  <h5> Description </h5>
  <textarea class="form-control" rows="10"
    placeholder="Description"> {{previewFypFile ? previewFypFile.description : 'Description'}} </textarea>
</div>

<!-- Problematic -->

<div [ngStyle]="{'z-index':orderz }" *ngIf="element.sectionName === 'problematic'" cdkDragBoundary=".drag-boundary" [ngClass]="{'drag-box' :true, 'problematic-elem': bExporting==false}" cdkDrag
  [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)">
  <h5> Problematic </h5>
  <textarea class="form-control" rows="10"
    placeholder="Description"> {{previewFypFile ? previewFypFile.problematic : 'Problematic'}} </textarea>
</div>

<!-- Features -->

<div [ngStyle]="{'z-index':orderz }" *ngIf="element.sectionName === 'features'" [ngClass]="{'drag-box' :true, 'features-elem': bExporting==false}" cdkDragBoundary=".drag-boundary" cdkDrag
  [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5>Features</h5>
      <button *ngIf='bExporting==false' class="btn btn-primary">+</button>
    </div>
    <hr>

    <div [ngClass]="{'row' : bExporting==true, 'rXow': bExporting==false}" style="width: 350px">
      <div *ngFor="let feature of (previewFypFile && previewFypFile.features ? previewFypFile.features : [1, 2]); let i=index" class="col-md-12">
        <div class="form-group">
          <p type="text" class="form-control"> {{i}}: {{feature && feature.content ? (feature.content) : 'Preview ' + i}} </p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Categories -->

<div [ngStyle]="{'z-index':orderz }" *ngIf="element.sectionName === 'categories'" [ngClass]="{'drag-box' :bExporting==false, 'categories-elem': bExporting==false}" cdkDragBoundary=".drag-boundary"
  cdkDrag [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)">
  <div class="card-body">
    <div class="d-flex justify-content-between card-title">
      <h5 class="d-flex align-items-center">
        Categories</h5>
      <button *ngIf='bExporting==false' class="btn btn-primary">+</button>
    </div>

    <div [ngClass]="{'row' : bExporting==true, 'rXow': bExporting==false}" style="width: 350px; height: 200px;">
        <div *ngFor="let category of (previewFypFile && previewFypFile.categories ? previewFypFile.categories : [1, 2]); let i=index" class="col-md-12">
          <div class="form-group">
            <p type="text" class="form-control"> {{i}}: {{category && category.name ? (category.name) : 'Preview ' + i}} </p>
          </div>
        </div>
      </div>

  </div>
</div>

<!-- Keywords -->

<div [ngStyle]="{'z-index':orderz }" *ngIf="element.sectionName === 'keywords'" [ngClass]="{'drag-box' :bExporting==false, 'keywords-elem': bExporting==false}" cdkDragBoundary=".drag-boundary" cdkDrag
  [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)">
  <div [ngClass]="{'card-body' :bExporting==false}">
    <div [ngClass]="{'card-title' :bExporting==false}" class="    justify-content-between card-title">
      <h5 class="d-flex align-items-center">
        Keywords</h5>
      <button *ngIf='bExporting==false' class="btn btn-primary">+</button>
    </div>
    <div class="rXow">
      <div class="col-md-12"
        *ngFor="let keyword of (previewFypFile && previewFypFile.keywords ? previewFypFile.keywords : [1, 2]) ; let i=index">
        <div class="form-group">
        </div>
        <p type="text" class="form-control"> {{keyword && keyword.content ? (keyword.content) : 'Preview ' + i}} </p>
      </div>
    </div>
  </div>
</div>

<!-- Subject | Company Information -->

<div [ngStyle]="{'z-index':orderz }" *ngIf="element.sectionName === 'company'" [ngClass]="{'drag-box' :bExporting==false, 'company-info-elem': bExporting==false}" cdkDragBoundary=".drag-boundary" cdkDrag
  [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)">
  <div class="card-body">
    <div class="d-flex justify-content-between card-title">
      <h5> Company Information </h5>
    </div>

    <p type="text" class="form-control"> {{previewFypFile && previewFypFile.subject && previewFypFile.subject.company ? (previewFypFile.subject.company.name) : 'Company Name '}} </p>
    <hr>
    <div class="title-elem drag-box">
      <h6 class="d-flex align-items-center"> Supervisor </h6>
      <div class="d-flex justify-content-between card-title">
          <p type="text" class="form-control"> {{previewFypFile && previewFypFile.subject && previewFypFile.subject.company ? (previewFypFile.subject.company.supervisorEmail) : 'Supervisor Email '}} </p>
      </div>
      <h6 class="d-flex align-items-center"> Reporter </h6>
      <div class="d-flex justify-content-between card-title">
          <p type="text" class="form-control"> {{previewFypFile && previewFypFile.subject && previewFypFile.subject.company ? (previewFypFile.subject.company.email) : 'Supervisor Email '}} </p>
      </div>
    </div>
  </div>
</div>

<!-- Personal Details-->

<div [ngStyle]="{'z-index':orderz }" *ngIf="element.sectionName === 'personal-details'" [ngClass]="{'drag-box' :bExporting==false, 'personal-details-elem': bExporting==false}"
  cdkDragBoundary=".drag-boundary" cdkDrag [cdkDragFreeDragPosition]="coords2D" (cdkDragEnded)="onDragEnded($event)">
  <h5> Personal Details </h5>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">

        <input type="text" class="form-control" name="name" placeholder="Name" required
          [ngClass]="{'is-invalid': Name.invalid && (Name.touched || fileTemplateForm.submitted) }">
      </div>
      <div class="form-group">
        <div class="form-group">
          <textarea class="form-control" name="address" rows="3" placeholder="Address" required
            [ngClass]="{'is-invalid': Address.invalid && (Address.touched || fileTemplateForm.submitted) }"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" name="contactNo" placeholder="Contact No." required
          [ngClass]="{'is-invalid': ContactNo.invalid && (ContactNo.touched || fileTemplateForm.submitted) }">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="emailId" placeholder="Email ID" required
          [ngClass]="{'is-invalid': Email.invalid && (Email.touched || fileTemplateForm.submitted) }">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="socialProfile" placeholder="Social Profile ">
      </div>
    </div>
  </div>
</div>
