<br>
<br>
<div class="form-inline cool-item">

  <div class="mr-4">

    <select class="cool-item" style="max-width:90%;" (change)="onChange_FypFileIndex($event.target.value)">
      <option>Preview File</option>
      <option *ngFor="let template of likeFypFileSearch; let index = index;" [value]="index"
        [selected]="template == previewFypFile">
        {{template.title}}</option>
    </select>

  </div>
</div>


<div class="form-inline cool-item justify-content-center">

  <select (change)="onChange_FypTemplateIndex($event.target.value)" class="custom-select mr-4">
    <option value="">Choose your template</option>
    <option *ngFor="let template of allFypTemplates; let index = index;" [value]="index"
      [selected]="template == currFypTemplate">{{template.templateName}}</option>

  </select>

  <button type="button" class="btn btn-outline-secondary mr-4">
    <span>Save</span></button>

  <button type="button" class="btn btn-outline-secondary mr-4" (click)="exportTemplate()">
    <span>Export</span></button>
  <button [disabled]='previewFypFile == null' type="button" class="btn btn-outline-secondary mr-2">
    <span style='cursor: pointer;' (click)='onClick_ClearPreviewFypFile()'>Clear Data</span></button>

  <div [formGroup]='templateForm' justify-content-center>
    <input formControlName="templateName" class="cool-item ml-4" type="text">
    <button type='submit' (click)='onClick_AddNewTemplate()' class="btn btn-primary mr-4">Add</button>
  </div>
</div>

<hr>

<div id="template-editor-window" *ngIf='currFypTemplate' class="drag-boundary">

  <div *ngFor='let element of currFypTemplate.templateElements; let i=index'>
    <app-fyp-template-element [orderz]='i' [element]='element' [bExporting]='bExporting' [previewFypFile]='previewFypFile'>
    </app-fyp-template-element>
  </div>


</div>
