
<br>
<br>
<br>

<div class="form-inline cool-item ">

  <select (change)="onChange_FypTemplateIndex($event.target.value)" class="custom-select mr-4"
    formControlName="template">
    <option value="">Choose your template</option>
    <option *ngFor="let template of allFypTemplates; let index = index;" [value]="index"
      [selected]="template == currFypTemplate">{{template.templateName}}</option>

  </select>

  <button type="button" class="btn btn-outline-secondary mr-2">
    <span>Save</span></button>
  <button type="button" class="btn btn-outline-secondary mr-2">
    <span>Preview</span></button>
  <button type="button" class="btn btn-outline-secondary mr-2">
    <span>Export</span></button>
  <button type="button" class="btn btn-outline-secondary mr-2">
    <span>Print</span></button>
  <button type="button" class="btn btn-outline-secondary mr-2">
    <span>Reset</span></button>

  <form justify-content-center>
    <input formControlName="templateName" class="cool-item ml-4" type="text">
    <button class="btn btn-primary mr-4">Add</button>
  </form>
</div>

<hr>

<div *ngIf='currFypTemplate' class="drag-boundary">

  <div *ngFor='let element of currFypTemplate.templateElements'>
    <app-fyp-template-element [element]='element'></app-fyp-template-element>
  </div>


</div>
