<section class="section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-6">
                        <div class="svgbg-1">
                            <div class="gradient-border-1">
                                <img src="../assets/img/bx1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="pt-6 slick-initialized slick-slider slick-dotted" data-provide="slider" data-slides-to-show="1" data-slides-to-scroll="1" data-dots="true"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2050px; transform: translate3d(-410px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 410px;"><div><div style="width: 100%; display: inline-block;">
                               
                            </div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="tabpanel" id="slick-slide00" style="width: 410px;" aria-describedby="slick-slide-control00"><div><div style="width: 100%; display: inline-block;">
                                <div class="card border-0">
                                    <h2 class="text-primary" >{{student.firstName}} {{student.lastName}}</h2>
                                    <blockquote class="fs-28">
                                        <p><h3 *ngIf="student.hasSubmittedAReport===true ; else submited">Has submitted a report : yes </h3>
                                        
                                    </blockquote>
                                    <blockquote class="fs-28">
                                            <p><h3> Project title : </h3>{{student.fypFile.title}}
                                            
                                        </blockquote>
                                    <div class="d-flex align-items-center pt-3">
                                        
                                        <div class="ml-3">
                                            <h4 class="fs-18 mb-0"><h3>Company :</h3> {{student.fypFile.subject.company.name}}</h4>
                                            <small class="o-7">Project categorie : {{student.fypFile.categories[0].name}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" style="width: 410px;" aria-describedby="slick-slide-control01"><div><div style="width: 100%; display: inline-block;">
                               
                            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 410px;"><div><div style="width: 100%; display: inline-block;">
                                <div class="card border-0">
                                    <i class="fa fa-quote-left text-primary fs-40 mb-3"></i>
                                    <blockquote class="fs-28">
                                        The template is really nice and offers quite a
                                        large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!
                                    </blockquote>
                                    <div class="d-flex align-items-center pt-3">
                                        <div class="avatar">
                                            <img class="img-fluid rounded-circle" src="../assets/img/avatar/avatar2.jpg" alt="Image Description">
                                        </div>
                                        <div class="ml-3">
                                            <h4 class="fs-18 mb-0">Peter Parker</h4>
                                            <small class="o-7">Systems Architect at Google</small>
                                        </div>
                                    </div>
                                </div>
                            </div></div></div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 410px;"><div><div style="width: 100%; display: inline-block;">
                                <div class="card border-0">
                                    <i class="fa fa-quote-left text-primary fs-40 mb-3"></i>
                                    <blockquote class="fs-28">
                                        The template is really nice and offers quite a
                                        large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!
                                    </blockquote>
                                    
                                </div>
                            </div></div></div></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #submited> Has submitted a report : not yet</ng-template>
       
